<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MakeSomeCode.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3F64B6DC1F82612B00C38B93</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F64B6F01F82612B00C38B93</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F64B6FB1F82612B00C38B93</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
